<h1>Student Form</h1>
<%= form_tag _path do %>
  <label>student first name</label>
  <input type="text" id="student_name" name="student[first_name]"><br>
    <label>student last name</label>
  <input type="text" id="student_name" name="student[last_name]"><br>
  <%= submit_tag "Submit Student" %>
<%end%>